<h2>{{movie.Title}} ({{movie.Year}})</h2>
<img src="{{movie.Poster}}" alt="{{movie.Title}} Poster" width="200" />
 <p><strong>Director:</strong> {{movie.Director}}</p>
<p><strong>Plot:</strong> {{movie.Plot}}</p>
<p><strong>Rating:</strong> {{movie.Ratings.Value}}</p>
<p><strong>Released:</strong> {{movie.Released}}</p>
<p><strong>Genre:</strong> {{movie.Genre}}</p>
<p><strong>Runtime:</strong> {{movie.Runtime}}</p>
<p><strong>Awards:</strong> {{movie.Awards}}</p>
<p><strong>Language:</strong> {{movie.Language}}</p>
<p><strong>Country:</strong> {{movie.Country}}</p>
<a href="/movies">Back to Movies</a>
<a href="/">Back to Homepage</a>
<a href="/viewData">Back to Table View</a>


